{% extends 'ApplicationShopAdminBundle::layout.html.twig' %}

{% block title %}Start{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Transaction edit</h1>

            {{ form(edit_form) }}

            <a class="btn btn-default" href="{{ path('application_admin_transaction') }}">Back to the list</a>
            
            {{ form_start(delete_form, { 'attr': {'class': 'form-btn-inline'} }) }}   	
              {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
            {{ form_end(delete_form) }}

        </div>
    </div>
</div>
{% endblock %}
